/* For the global Modal*/
#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: white; /* Fallback color */
  padding: 30px;
  border: 2px #f2f2f2 solid;
  border-radius: 15px;
  max-width: 650px;
  width: 50%;
  position: relative;
}

.modal-title {
  color: black;
  margin-top: 20px;
  font-weight: lighter;
}

#modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

#modal-close i {
  font-size: 1.3em;
  display: block;
}

/* css approprié à la modale content avec la liste des galerie photos */

.gallery-photo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-photo-card {
  position: relative;
  height: 130px;
  width: 85px;
  display: flex;
  flex-direction: column;
}

.gallery-photo-card-img {
  height: auto;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.gallery-photo-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.editer {
  height: 20px;
}
.gallery-photo-card i {
  position: absolute;
  color: white;
  top: 3px;
  right: 3px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  padding: 4px;
  background-color: black;
  border: none;
  border-radius: 5px;
}
/* fin de la modale galelry  */

/* modale d'ajout */
#new-photo {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  padding: 10px 25px 10px 25px;
  width: 230px;
  text-align: center;
  border-radius: 60px;
  border-width: 0px;
  margin-top: 30px;
  cursor: pointer;
}
#delete-gallery {
  color: #e03232;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  margin-top: 20px;
}

/**for modal content */

#form-photo-div {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8f1f6;
}
#form-photo-div i {
  font-size: 4.5em;
  color: #c5c6c9;
}

#form-photo-div p {
  font-size: 0.9em;
  color: #575859;
  margin-top: 7px;
}

#label-image {
  display: none;
  padding: 13px 30px 13px 30px;
  background-color: #cbd6dc;
  border-radius: 25px;
  color: #376b89;
  margin-top: 17px;
  cursor: pointer;
}

.modal-photo-input {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  align-items: start;
}

#modal-photo-category,
#modal-photo-title {
  width: 100%;
  height: 37px;
  box-shadow: 0px 0px 15px rgb(233, 233, 228);
  border-width: 0px;
  margin-top: 10px;
  padding-left: 13px;
}

#barre-grise {
  padding-bottom: 45px;
  border-bottom: solid 2px #d0d0d0;
}
#modal-valider {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  background-color: #6f717099;
  padding: 10px 25px 10px 25px;
  width: 230px;
  border-width: 0px;
  text-align: center;
  border-radius: 60px;
  margin-top: 30px;
  cursor: pointer;
}

/** modal close **/
#modal-return {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}
#modal-return i {
  font-size: 1.3em;
  display: block;
}
#modal-photo-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}
#modal-photo-close i {
  font-size: 1.3em;
  display: block;
}
